{% extends "main.html" %}

{% block content %}
  <h2>Create a New Post</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Отображение формы поста -->
    <div>
      <h3>Post Form:</h3>
      {{ post_form.as_p }}
    </div>

    <!-- Отображение формы категории с использованием FormSet -->
    <div>
      <h3>Create a New Category:</h3>
      {{ category_formset.management_form }}  <!-- Очень важно для FormSet -->
      {% for form in category_formset %}
        <div>
          {{ form.as_p }}
        </div>
      {% endfor %}
      {% if error %}
        <p class="text-danger">{{ error }}</p>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
